<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Inicial</title>
    <link rel="stylesheet" href="../css/style.css">
    <!-- Link para o script de QR Code -->
    <script src="../js/qrcode.min.js"></script>
</head>
<body>
    <header>
        <h1>Bem-vindo ao Game Track</h1>
    </header>
    <main>
        <p>Acompanhe seus jogos em tempo real.</p>

        <!-- Entrada de valor e chave PIX para gerar o QR Code -->
        <input type="number" id="amount-input" placeholder="Valor em reais" />
        <input type="text" id="pix-key" placeholder="Chave PIX" />
        <button id="generate-pix-button">Gerar QR Code PIX</button>
        <div id="qrcode"></div>
    </main>

    <!-- Script para gerar o QR Code PIX -->
    <script src="../js/main.js"></script>
    <script type="module" src="../firebase.js"></script>
    
    <script>
        document.getElementById('generate-pix-button').addEventListener('click', function() {
            var amount = document.getElementById('amount-input').value;
            var pixKey = document.getElementById('pix-key').value;

            if (amount.trim() !== "" && pixKey.trim() !== "") {
                // Limpa o QR Code anterior
                document.getElementById("qrcode").innerHTML = "";

                // Cria o payload PIX
                var pixPayload = `00020126360014BR.GOV.BCB.PIX0114${pixKey}0218${amount}5405BRL5802BR5913${pixKey}6009SAO PAULO62070503***6304`;

                // Gera o QR Code PIX
                new QRCode(document.getElementById("qrcode"), {
                    text: pixPayload,
                    width: 128,
                    height: 128
                });
            } else {
                alert("Por favor, insira um valor e uma chave PIX válidos.");
            }
        });
    </script>
</body>
</html>
