<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Inicial</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <header>
        <h1>Bem-vindo ao Game Track Admin</h1>
    </header>
    <main>
        <p>Acompanhe seus jogos e créditos em tempo real.</p>
        <img id="pix-qr-code" src="" alt="QR Code PIX" />
<input type="number" id="amount-input" placeholder="Valor em reais" />
<button id="generate-pix-button">Gerar QR Code PIX</button>

    </main>
    <script src="../js/main.js"></script>
    <script type="module" src="../firebase.js"></script>
</body>
</html>
